.examples_testimony {
  display:none;
  margin: 10px 10px 20px 50px;
  padding: 5px;
  border: 5px ridge black;
}  

.examples_toggle {
  cursor: pointer;

}
/*
     FILE ARCHIVED ON 22:05:20 Jul 18, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:18:27 Nov 16, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1286.06
  exclusion.robots: 0.088
  exclusion.robots.policy: 0.076
  cdx.remote: 0.071
  esindex: 0.008
  LoadShardBlock: 599.82 (3)
  PetaboxLoader3.datanode: 464.153 (4)
  CDXLines.iter: 20.678 (3)
  load_resource: 291.858
  PetaboxLoader3.resolve: 189.828
*/